.feedback {
  margin-bottom: 108px;

    @include media-breakpoint-down(sm) {
      margin-bottom: 80px;
    }
  
  .slick-slide {
    opacity: .25;
    
    &.slick-active {
      opacity: 1;
    }
  }
  
  .slick-dots {
    padding-left: 0;
    margin-bottom: 0;
    display: flex!important;
    align-items: center;
    position: absolute;
    left: 260px;
    bottom: 16px;

    @include media-breakpoint-down(lg) {
      left: 80px;
    }

    @include media-breakpoint-down(md) {
      left: auto;
      right: 18px;
      bottom: 0;
    }
    
    li {
      list-style: none;
      height: 8px;
      display: block;
      
      &+li {
        margin-left: 8px;
      }
      
      &.slick-active {
        
        button {
          width: 10px;
          height: 10px;
          background: transparent;
          border: 1px solid $secondary;
          position: relative;
          top: -1px;
        }
      }
      
      button {
        display: block;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: rgba(100, 101, 103, 0.15);
        font-size: 0;
      }
    }
  }
}
