mixin feedback(modifier)
  .feedback.animated&attributes(attributes)
    +review('review-4.jpg', 'We recognise 2be.lu fund as an expert in the early-stage investment community and they are one of our first go-to partners when we are looking to syndicate investment opportunities.', 'Simon Blakey', 'Founder of Avonmore Developments Ltd')
    +review('review-1.jpg', '2be.lu has been very supportive throughout our startup journey providing support, guidance, and encouragement.', 'Kristian Salvo', 'Co-Founder, CEO of Poundit')
    +review('review-2.jpg', 'One of the most professional and organized investors in the market. Unlike others, 2be.lu provides strategic post investment advice.', 'Elizabetta Camilleri', 'Founder of Shoplogical')
    +review('review-3.jpg', 'Professional and active, providing tangible advice and support in execution.', 'Egor Egerev', 'Founder of Tickets Cloud')