.modal {
  display: none;
  max-width: 522px;
  padding: 36px 18px;

  @include media-breakpoint-down(sm) {
    max-width: 100%;
    padding: 18px 0 36px;
  }
  
  &__captcha {
    width: 377px;
    height: 96px;
    margin-bottom: 36px;
    margin-top: 36px;
    background: url(../img/captcha.svg) no-repeat;
    background-size: contain;
    background-repeat: no-repeat;

    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }
  
  &__column {
    
    &:first-child {
      padding-right: 9px;

      @include media-breakpoint-down(sm) {
        padding-right: 18px;
      }
    }
    
    &:last-child {
      padding-left: 9px;

      @include media-breakpoint-down(sm) {
        padding-left: 18px;
      }
    }
  }
}
