mixin modal(modifier)
  .modal#modal&attributes(attributes)
    .container
      .row
        .col-12
          form.form(action="#", method="POST")
            .form__item
              label.form__label Your name
              input.input(type="text")
            .row
              .col-md-6.modal__column
                .form__item
                  label.form__label Phone
                  input.input(type="text")
              .col-md-6.modal__column
                .form__item
                  label.form__label E-mail*
                  input.input(type="text")
            .form__item.mb-20
              label.form__label Message*
              textarea.input.input--textarea
            +checkbox('terms', 'I agree to the Terms and Conditions')
            .modal__captcha
            button.btn.btn-secondary.btn-sm.w-100(type="submit") Send