h1 {
  font-size: 50px;
  font-weight: 700;
  color: $primary;
  text-transform: uppercase;
  line-height: 67px;
  margin-bottom: 30px;

  @include media-breakpoint-down(md) {
    font-size: 28px;
    line-height: 38px;
  }
}

h2 {
  font-size: 44px;
  font-weight: 700;
  color: $black;
  line-height: 59px;
  text-transform: uppercase;
  margin-bottom: 30px;

  @include media-breakpoint-down(md) {
    font-size: 28px;
    line-height: 38px;
  }
}

h3 {
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: $primary;
  margin-bottom: 30px;

  @include media-breakpoint-down(md) {
    font-size: 22px;
    line-height: 30px;
  }
}

h4 {
  color: rgba(44, 44, 46, 0.95);
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 1px;
  margin-bottom: 30px;

  @include media-breakpoint-down(sm) {
    font-size: 20px;
    line-height: 28px;
  }
  
  a {
    font-weight: 700;
    text-decoration: underline;
    color: rgba(44, 44, 46, 0.95);
    @include transition;
    
    &:hover {
      text-decoration: none;
      color: $dark;
    }
  }
  
  &.font-weight-normal {

    @include media-breakpoint-down(sm) {
      font-size: 16px;
      line-height: 23px;
    }
  }
}

p {
  color: rgba(44, 44, 46, 0.7);
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 28px;
  
  &.p--xs {
    font-size: 12px;
    line-height: 28px;
    color: rgba(44, 44, 46, 0.7);
  }
}

b {
  font-weight: 500;
}

strong {
  font-weight: 700;
}

ul {
  margin-bottom: 28px;
  
  li {
    color: rgba(44, 44, 46, 0.7);
    font-size: 18px;
    line-height: 28px;
  }
}

ol {
  margin-bottom: 28px;
  
  li {
  color: rgba(44, 44, 46, 0.7);
  font-size: 18px;
  line-height: 28px;
  }
}

table {
  
}

tr {
  
}

th {
  
}

td {
  
}

a {
  
}

input {
  
  &:focus {
    outline: none;
  }
}

textarea {
  
  &:focus {
    outline: none;
  }
}

select {
  
}

button {
  cursor: pointer;
  padding: 0;
  border: 0;
  
  &:focus {
    outline: none;
  }
}

input[type="submit"] {
  cursor: pointer;
  border: 0;
}

img {
  
}

.text-desktop {

  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.text-mobile {
  display: none;

  @include media-breakpoint-down(sm) {
    display: block;
  }
}