mixin slider(modifier)
  .slider.animated&attributes(attributes)
    +news('news-1.jpg', '26 april 2018', 'Growth in number of ICO will fully change the VC market', '', 'news--short')(class="news--short")
    +news('news-2.jpg', '27 april 2018', 'Areas of investments: 5 promising technological trends', '', 'news--short')(class="news--short")
    +news('news-2.jpg', '27 april 2018', 'Areas of investments: 5 promising technological trends', '', 'news--short')(class="news--short")