.slider {
  
  .slick-list {
    overflow: visible;

    @include media-breakpoint-down(sm) {
      overflow: hidden;
    }
  }
  
  .slick-slide {
    
    &.slick-active {
      opacity: 1;
      
      & ~ .slick-slide {
        opacity: .25;
      }
      
      & + .slick-slide {
        opacity: 1;

        @include media-breakpoint-down(lg) {
          opacity: .25;
        }
      }
    }
  }
}
