.page {
  
  &--news {
    margin-top: -290px;

    @include media-breakpoint-down(lg) {
      margin-top: -220px;
    }

    @include media-breakpoint-down(md) {
      margin-top: -120px;
    }

    @include media-breakpoint-down(sm) {
      margin-top: -70px;
    }
  }
}
