.about {
  margin-top: -247px;

  @include media-breakpoint-down(lg) {
    margin-top: -170px;
  }

  @include media-breakpoint-down(sm) {
    margin-top: -57px;
  }
  
  &__person-name {

    @include media-breakpoint-down(sm) {
      font-size: 18px;
      line-height: 25px;
    }
  }
  
  &__person-occupation {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    color: $primary;
    text-transform: uppercase;

    @include media-breakpoint-down(sm) {
      font-size: 10px;
      line-height: 15px;
    }
  }
  
  &__picture {
    
    &--angle-right {
      border-radius: 0 50px 0 0;
    }
    
    &--angle-left {
      border-radius: 50px 0 0 0;
    }
  }
}
