.news {
  max-width: 546px;

  @include media-breakpoint-down(sm) {
    max-width: 100%;
    margin-bottom: 40px;
  }
  
  &__picture {
    width: 100%;
    height: 416px;
    background-size: cover;
    background-position: center;
    display: block;
    @include transition;
    
    &:hover {
      opacity: .8;
    }

    @include media-breakpoint-down(md) {
      height: 300px;
    }
  }
  
  &__date {
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  &__title {

    @include media-breakpoint-down(sm) {
      font-size: 18px;
      line-height: 25px;
    }
    
    a {
      text-decoration: none;
      @include transition;

      &:hover {
        color: $primary;
      }
    }
  }
  
  &--short {
    margin: 0 18px;

    @include media-breakpoint-down(sm) {
      margin: 0;
    }
  }
}
