mixin news(picture, date, header, dscr, modifier)
  .news&attributes(attributes)
    a.news__picture.animated(href="#", style="background-image: url(./img/" + picture + ");")
    p.news__date.animated= date
    h4.news__title.mb-15.animated
      a(href="#")= header
    if modifier == 'news--short'
    else
      p.mb-35.animated= dscr
      a.btn.btn-secondary.btn-sm.animated(href="#") Learn More