/* Bootstrap */

.btn {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  padding: 19px 52.14px;
  border-radius: 25px;

  @include media-breakpoint-down(md) {
    font-size: 14px;
    line-height: 24px;
    padding: 9px 28px;
  }
  
  &.btn-sm {
    font-size: 14px;
    line-height: 24px;
    padding: 9px 28px;
  }
}


/* Slick */

.slick-slide {
  @include transition;
  
  &:focus {
    outline: none;
  }
}