include ../blocks/header/header.pug
include ../blocks/logo/logo.pug
include ../blocks/menu/menu.pug
include ../blocks/front/front.pug
include ../blocks/tagline/tagline.pug
include ../blocks/footer/footer.pug
include ../blocks/slider/slider.pug
include ../blocks/review/review.pug
include ../blocks/field/field.pug
include ../blocks/article/article.pug
include ../blocks/action/action.pug
include ../blocks/title/title.pug
include ../blocks/news/news.pug
include ../blocks/item/item.pug
include ../blocks/client/client.pug
include ../blocks/modal/modal.pug
include ../blocks/input/input.pug
include ../blocks/form/form.pug
include ../blocks/crypto/crypto.pug
include ../blocks/feedback/feedback.pug
include ../blocks/wrapper/wrapper.pug
include ../blocks/checkbox/checkbox.pug
include ../blocks/about/about.pug
include ../blocks/page/page.pug
include ../blocks/contacts/contacts.pug
include ../blocks/map/map.pug
include ../blocks/animated/animated.pug
include ../blocks/alert/alert.pug
