.input {
  width: 100%;
  height: 46px;
  border: 1px solid #dfe2e6;
  padding: 0 12px;
  color: rgba(44, 44, 46, 0.7);
  font-size: 16px;
  
  &--textarea {
    resize: none;
    height: 153px;
    padding: 12px;
  }
}
