.alert {
  background-color: $secondary;
  
  &__content {
    display: flex;
    justify-content: space-between;
    padding: 36.8px 0;

    @include media-breakpoint-down(sm) {
      padding: 18px 0;
    }
  }
  
  &__text {
    color: #fff;
    font-size: 16px;
    line-height: 23px;
    font-weight: 700;
    
    a {
      color: #fff;
      text-decoration: underline;
      
      &:hover {
        text-decoration: none;
      }
    }
  }
  
  &__close {
    margin-left: 20px;
    display: block;
    width: 12px;
    height: 12px;
    background: url(../img/close--white.svg) no-repeat;
    background-size: contain;
    margin-top: 5px;
    flex-shrink: 0;
    @include transition;
    
    &:hover {
      opacity: .8;
    }
  }
  
  & ~ .header {

    @include media-breakpoint-down(sm) {
      position: relative;
    }
  }
  
  &--hidden {
    display: none;
    
    & ~ .header {

      @include media-breakpoint-down(sm) {
        position: relative;
        position: fixed;
      }
    }
  }
}
