mixin alert(modifier)
  .alert&attributes(attributes)
    .container
      .row
        .col-12
          .alert__content
            span.alert__text We use cookies 🍪 to provide the best experience. By continuing to use our website, you agree to our 
              a(href="cookies.html") cookies
              | policy.
            a.alert__close(href="#")