.client {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 164px;
  width: 100%;
  border: 1px solid #e9e9e9;
  margin-bottom: 36px;
  text-decoration: none;
  position: relative;
  
  &:hover {
    
    .client__logo {
      display: none;
    }
    
    .client__content {
      opacity: 1;
    }
  }
  
  &__logo {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    @include media-breakpoint-down(sm) {
      max-width: 90%;
      max-height: 90%;
    }
  }
  
  &__content {
    opacity: 0;
    text-align: center;
    padding: 10px 18px;
    @include transition;
  }
}
