mixin client(logo, title, dscr, modifier)
  a.client.animated(href="#")&attributes(attributes)
    img.client__logo(src="img/" + logo, alt="Logo")
    .client__content
      h4.mb-5= title
      p.mb-0= dscr