.checkbox {
  display: flex;
  align-items: center;
  
  &__input {
    display: none;
    
    &:checked ~ .checkbox__fake {
      background: url(../img/check.svg) no-repeat center;
      background-size: contain;
    }
  }
  
  &__fake {
    width: 22px;
    height: 22px;
    margin-right: 12px;
    border: 1px solid #dfe2e6;
  }
  
  &__label {
    color: rgba(44, 44, 46, 0.7);
    font-size: 16px;
    line-height: 22px;
  }
}
