@mixin transition {
  transition: 0.3s cubic-bezier(0.250, 0.100, 0.250, 1.000);
}

@mixin placeholder($color) {
  &::-webkit-input-placeholder {color:$color;}
  &::-moz-placeholder          {color:$color;}
  &:-ms-input-placeholder      {color:$color;}
}

$borders: (
  'top',
  'left', 
  'right',
  'bottom'
);

.border {
  @each $position in $borders {
    
    &-#{$position} {
      border-#{$position}: 1px solid $border-color;
    }
    
    @if ($position == '') {
      border: 1px solid $border-color;
    }
  }
}