mixin review(photo, text, name, company,  modifier)
  .review&attributes(attributes)
    .review__content
      .review__content-wrapper
        h4.review__text= text
        .review__info
          p.review__name= name
          p.review__company= company
    .review__picture(style="background-image: url(./img/" + photo + ");")