.review {
  display: flex!important;
  align-items: center;
  position: relative;

  @include media-breakpoint-down(md) {
    flex-direction: column;
  }
  
  &__content {
    padding: 40px 40px 40px 116px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(27, 189, 197, 0.04);
    max-height: 414px;

    @include media-breakpoint-down(lg) {
      padding: 40px;
      padding-left: 80px;
    }

    @include media-breakpoint-down(md) {
      background: transparent;
      padding-left: 60px;
    }
  }
  
  &__content-wrapper {
    position: relative;
    
    &:before {
      content: '';
      display: block;
      width: 24px;
      height: 28px;
      background: url(../img/quotes.svg) no-repeat;
      background-size: contain;
      position: absolute;
      left: -44px;
      top: 8px;
    }
  }
  
  &__text {

    @include media-breakpoint-down(md) {
      font-size: 14px;
      font-weight: 700;
      line-height: 20px;
      letter-spacing: .58px;
      margin-bottom: 57px;
    }
  }
  
  &__info {

    @include media-breakpoint-down(md) {
      margin-left: 100px;
    }
  }
  
  &__name {
    color: #2c2c2e;
    font-size: 14px;
    font-weight: 700;
    margin-top: 36px;
    margin-bottom: 4px;

    @include media-breakpoint-down(md) {
      margin-bottom: 6px;
    }
  }
  
  &__company {
    color: rgba(44, 44, 46, 0.7);
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 0;

    @include media-breakpoint-down(md) {
      font-size: 10px;
      line-height: 15px;
    }
  }
  
  &__picture {
    width: 449px;
    height: 486px;
    background-size: cover;
    background-position: center;
    border-radius: 0 50px 0 0;
    flex-shrink: 0;

    @include media-breakpoint-down(md) {
      position: absolute;
      width: 120px;
      height: 130px;
      left: 18px;
      bottom: 0;
    }
  }
}
