mixin item(icon, header, dscr, modifier)
  .item&attributes(attributes)
    .item__icon.animated(style="background-image: url(./img/" + icon + ");")
    h4.text-uppercase.mb-10.animated= header
    p.mb-0.animated= dscr