.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 40px;
  
  &__icon {
    width: 100px;
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 36px;

    @include media-breakpoint-down(md) {
      margin-bottom: 18px;
    }
  }
  
  &--portfolio {
    
    h4 {
      font-size: 18px;
      line-height: 26px;
      letter-spacing: .75px;
      margin-bottom: 18px;
    }
  }
}
