.footer {
  background: rgba(240, 243, 246, 0.25);
  margin-top: 108px;

  @include media-breakpoint-down(sm) {
    margin-top: 90px;
  }
  
  &__wrapper {
    padding: 36px 0;

    @include media-breakpoint-down(sm) {
      justify-content: center;
      padding: 18px 0;
    }
  }
  
  &__content {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }
  }
  
  &__text {
    color: rgba(44, 44, 46, 0.7);
    font-size: 12px;
    line-height: 18px;
    
    &--link {
      line-height: 24px;
      display: block;
    }
  }
  
  &__links {
    margin-left: 130px;
    flex-shrink: 0;

    @include media-breakpoint-down(sm) {
      margin-left: 0;
      margin-top: 40px;
    }
  }
}
