mixin footer(modifier)
  .footer&attributes(attributes)
    .container
      .row
        .col-12
          .footer__wrapper
            span.footer__text © 2018 2be.lu
            .footer__content
              span.footer__text This website is intended for information purposes only and is not a public offer or a commercial or investment proposal. This website does not constitute or form part of, and should not be construed as, an offer to sell or issue or the solicitation of an offer to buy or acquire any securities in any jurisdiction or an inducement to enter into investment activity in any jurisdiction.  Neither this website nor any part thereof shall form the basis of, or be relied on in connection with, any contract or commitment or investment decision whatsoever.  The users should consult their advisers before making any investment decision.
              .footer__links
                a.footer__text.footer__text--link(href="#") Privacy Policy
                a.footer__text.footer__text--link(href="cookies.html") Cookies
                a.footer__text.footer__text--link(href="#") Terms of use