.crypto {
  margin-top: -200px;
  margin-bottom: 100px;

  @include media-breakpoint-down(lg) {
    margin-top: -140px;
    margin-bottom: 35px;
  }

  @include media-breakpoint-down(md) {
    margin-top: -55px;
  }
  
  &__section {
    margin-bottom: 30px;
    display: flex;
    align-items: flex-start;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }
    
    &+& {
      margin-top: 72px;

      @include media-breakpoint-down(sm) {
        margin-top: 20px;
      }
    }
  }
  
  &__section-icon-wrapper {
    position: relative;
    width: 90px;
    margin-right: 35px;
    flex-shrink: 0;

    @include media-breakpoint-down(sm) {
      width: auto;
      max-width: 50%;
      margin-bottom: 18px;
    }
  }
  
  &__section-icon {
    position: absolute;
    right: 0;

    @include media-breakpoint-down(sm) {
      position: static;
      max-width: 100%;
    }
  }
  
  &__section-content {
    
  }
  
  &__section-logos-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 72px;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  
  &__section-logo {
    
    &+& {
      margin-left: 45px;

      @include media-breakpoint-down(sm) {
        margin-left: 0;
        margin-top: 20px;
      }
    }
  }
}