extends ../templates/template.pug
block content
  +tagline('', 'tagline-9.svg')(class="mt-35")
  .about
    .container
      .row
        .col-md-6.col-xl-5
          h1.mb-55.mb-md-35.animated About Us
          h4.font-weight-normal.animated 2be.lu was established in Luxembourg in 2014, to help early stage companies execute their global ambitions. Today our venture capital portfolio consists of a dozen companies that improve the lives of many around the world. <br>
            span.text-desktop We support our 
              a(href="#") portfolio 
              | companies with our experience and network of contacts on a range of legal, financial and operational issues.
          h4.font-weight-normal.text-desktop.animated In 2017 we added a focus on crypto currencies and established a separate 
            a(href="#") Crypto Fund
            |.
        .col-md-6.col-xl-5.offset-xl-1.pt-md-75
          img.img-fluid.about__picture.about__picture--angle-right.mb-20.mb-md-0.animated(src="img/article-2.jpg", alt="Picture")
          h4.text-mobile.font-weight-normal We support our portfolio companies with our experience and network of contacts on a range of legal, financial and operational issues. <br><br> In 2017 we added a focus on crypto currencies and established a separate Crypto Fund. 
      .row.mt-35.mt-md-70.d-flex.align-items-center
        .col-md-6.col-xl-5
          img.img-fluid.about__picture.about__picture--angle-left.animated(src="img/article-3.jpg", alt="Picture")
        .col-md-6.col-xl-5.offset-xl-1.mt-20.mt-md-0
          h4.about__person-name.mb-0.animated Alexander Tkachenko
          p.about__person-occupation.animated Founder, Managing Director
          h4.font-weight-normal.mb-0.animated Founder and managing partner. MBA London Business School and Columbia University. Twenty years of professional experience in marketing, sales and business development. Business angel, member of E100 – LBS angel investor network.
  +tagline('Want to get to know us better?', 'tagline-10.svg', 'tagline--action')(class="mt-45 mt-md-100")