extends ../templates/template.pug
block content
  .article
    .container
      .row
        .col-md-6.d-flex.flex-column.justify-content-center.mb-35.mb-md-0
          p.article__date.animated 27 april 2018
          h2.mb-0.animated Growth in number of ICO will fully change the VC market 
        .col-md-6
          img.img-fluid.animated(src="img/article-1.jpg", alt="Picture")
      .row.mt-35.mt-md-70
        .col-lg-10.offset-lg-1
          p.animated Completely forms of one currency – BinCoin (https://bitcoin.org). It is the first and most known crypto currency, has the most market capitalization. It demonstrates the volatility below market average, yet keeping the tendency to long term growth. Completely forms of one currency – BinCoin (https://bitcoin.org). It is the first and most known crypto currency, has the most market capitalization. It demonstrates the volatility below market average, yet keeping the tendency to long term growth.Completely forms of one currency – BinCoin (https://bitcoin.org). It is the first and most known crypto currency, has the most market capitalization. It demonstrates the volatility below market average, yet keeping the tendency to long term growth.Completely forms of one currency – BinCoin (https://bitcoin.org). It is the first and most known crypto currency, has the most market capitalization. It demonstrates the volatility below market average, yet keeping the tendency to long term growth.Completely forms of one currency – BinCoin (https://bitcoin.org). It is the first and most known crypto currency, has the most market capitalization. It demonstrates the volatility below market average, yet keeping the tendency to long term growth.
      .row.mt-0.mt-md-100.pt-20
        .col-12
          h4.mb-35.animated You might be interested in:
          +slider