extends ../templates/template.pug
block content
  +tagline('', 'tagline-11.svg')(class="tagline--title mt-35")
  .contacts
    .container
      .row
        .col-lg-4
          h1.mb-35.mb-lg-100.pb-30.animated Contact
          .contacts__item
            h4.mb-35.animated 4 Rue Jean Engling, Luxembourg, L-1466, Grand Duchy of Luxembourg
          .contacts__item
            p.contacts__item-header.animated Email
            h4.mb-35.animated 
              a(href="mailto:contactus@2be.lu") contactus@2be.lu
          .contacts__item
            p.contacts__item-header.animated Tel
            h4.mb-35.animated 
              a(href="tel:+35227848580") (+352) 2784 8580
          .contacts__item
            p.contacts__item-header.animated Fax
            h4.mb-0.animated 
              a(href="tel:+35227848581") (+352) 2784 8581
        .col-lg-8.d-flex.mt-35.mt-lg-0
          +map