extends ../templates/template.pug
block content
  .container.mt-sm-35
    .row
      .col-12
        h2.mb-30.mb-sm-70 Cookie Policy for vnx.io
        .row
          .col-md-2.col-xl-1.pr-15
            p.p--xs June 2018
          .col-md-10.col-xl-11
            p This Cookie Policy explains how Venture Exchange S.A. (“Company”, “we”, “us”, and “ours”) uses cookies and similar technologies to recognize you when you visit our website at https://vnx.io/ (the "Website"). It explains what these technologies are and why we use them, as well as your rights to control it.
            p What Are Cookies
            p As is common practice with almost all professional websites the Website uses cookies, which are tiny files that are downloaded to your computer, to improve your experience. This Cookie Policy describes what information they gather, how we use it and why we sometimes need to store these cookies. We will also share how you can prevent these cookies from being stored however this may downgrade or 'break' certain elements of the Website's functionality.
            p For more general information on cookies see the Wikipedia article on HTTP Cookies.
            p How We Use Cookies
            p We use cookies for a variety of reasons detailed below. Unfortunately, in most cases there are no industry standard options for disabling cookies without completely disabling the functionality and features they add to our Website. It is recommended that you leave on all cookies if you are not sure whether you need them or not in case they are used to provide a service that you use.
            p For example, a number of Website's pages use cookies to remember:
            ul
              li your display preferences, such as contrast colour settings or font size
              li if you have already replied to a survey pop-up that asks you if the content was helpful or not (so you won't be asked again)
              li if you have agreed (or not) to our use of cookies on the Website
            p What information is kept by the cookie?
            p A cookie will typically hold:
            ul
              li The name of the website that it has come from
              li How long the cookie will stay on your computer or phone
              li A value – usually a randomly generated unique number
            p How long do cookies stay on your computer or phone?
            p Session cookies – these only last until you close your browser. They are not stored on your hard drive. They are usually used to track the pages that you visit so that information can be customised for you for that visit.
            p Persistent cookies – these are stored on your hard drive until you delete them or they reach their expiry date. These may, for example, be used to remember your preferences when you use the Website.
            p The cookies we set
            p Site preferences cookies
            p In order to provide you with a great experience on this Website we provide the functionality to set your preferences for how this Website runs when you use it. In order to remember your preferences we need to set cookies so that this information can be called whenever you interact with a page that is affected by your preferences.
            p Third party cookies
            p In some special cases we also use cookies provided by trusted third parties. The following section details which third party cookies you might encounter through this Website.
            ul
              li This Website uses Google Analytics which is one of the most widespread and trusted analytics solution on the web for helping us to understand how you use the Website and ways that we can improve your experience. These cookies may track things such as how long you spend on the Website and the pages that you visit so we can continue to produce engaging content. <br>For more information on Google Analytics cookies, see the official Google Analytics page.
              li From time to time, we test new features and make subtle changes to the way that the Website is delivered. When we are still testing new features, these cookies may be used to ensure that you receive a consistent experience whilst on the site ensuring we understand which optimisations our users appreciate the most.
              li As we provide certain services it's important for us to understand statistics about how many of the visitors to our Website actually become our partners and as such this is the kind of data that these cookies will track. This is important to you as it means that we can accurately make business predictions that allow us to monitor our advertising and product costs to ensure the best possible price.
            p How to manage cookies?
            p You can accept or refuse cookies. Accepting cookies is usually the best way to make sure you get the best from a website. Most devices including PCs automatically accept them but you can change your browser settings to restrict, block or delete cookies if you want. Each browser is different, so check the “Help” menu of your browser to learn how to change your cookie preferences. Many browsers have universal privacy settings for you to choose from.
            p If you decline cookies, some aspects of the Website may not work on your computer or mobile phone and you may not be able to access areas you want on the Website. For this reason, we recommend that you accept cookies.
            p If you delete all your cookies you will have to update your preferences with us again and some aspects of our Website may not work.
            p If you change computers or mobile, if you use a different device, computer profile or browser you will have to tell us your preferences again.
            p We use Adobe Flash Player to deliver video content and other services. Flash cookies as they are usually known help provide features that let you start looking at a video from where you stopped previously or saving your preferences. They are stored on your computer in the same way as other cookies, but you can’t manage them with your browser in the same way. If you want to delete or disable Flash cookies you can learn the way how to do it on the Adobe website. But if you disable these cookies it may affect the features available to you on Flash-based applications like some video.
            p How often will you update this Cookie Policy?
            p We may update this Cookie Policy from time to time in order to reflect, for example, changes to the cookies we use or for other operational, legal or regulatory reasons.  Please therefore re-visit this Cookie Policy regularly to stay informed about our use of cookies and related technologies.
            p The date at the top of this Cookie Policy indicates when it was last updated.
            p More Information
            p Hopefully, this Cookie Policy has clarified things for you and as was previously mentioned if there is something that you aren't sure whether you need or not, it's usually safer to leave cookies enabled in case it does interact with one of the features you use on our Website.