extends ../templates/template.pug
block content
  +tagline('', 'tagline-7.svg')
  .crypto
    .container
      .row
        .col-xl-10
          h1.mb-35.animated Crypto Fund
          h4.font-weight-normal.animated Cryptocurrencies today are the most modern and youngest class of investment assets. The Crypto Fund is aiming for overwhelming income margins and therefore is classified as a high risk asset.
          .crypto__section
            .crypto__section-icon-wrapper
              img.crypto__section-icon.animated(src="img/crypto-1.svg", alt="Icon")
            .crypto__section-content
              h4.mb-70.animated We have established an infrastructure for fiat-to-crypto exchange and back. <br><br>Our Crypto Fund is registered as a professional investor at the major crypto exchanges in the US, Japan and Europe – bitFlyer, Bittrex, Genesis Trading.
              .crypto__section-logos-wrapper.animated
                img.crypto__section-logo(src="img/crypto-logo-1.png", alt="Logo")
                img.crypto__section-logo(src="img/crypto-logo-2.png", alt="Logo")
                img.crypto__section-logo(src="img/crypto-logo-3.png", alt="Logo")
              p.animated For our clients we offer several strategies:
          .crypto__section
            .crypto__section-icon-wrapper
              img.crypto__section-icon.animated(src="img/crypto-2.svg", alt="Icon")
            .crypto__section-content
              p.text-primary.text-uppercase.font-weight-bold.mb-0.animated Strategy 1
              h3.text-dark.mb-15.animated Cryptocurrency BitCoin Only
              h4.font-weight-normal.animated Completely formed of one currency – 
                a(href="#") BitCoin
                |. It is the first and most well known crypto currency and has the largest market capitalization. It demonstrates below market average volatility, yet keeps the tendency for long term growth
          .crypto__section
            .crypto__section-icon-wrapper
              img.crypto__section-icon.animated(src="img/crypto-3.svg", alt="Icon")
            .crypto__section-content
              p.text-primary.text-uppercase.font-weight-bold.mb-0.animated Strategy 2
              h3.text-dark.mb-15.animated Top 5, Top 10, Top 25 Cryptocurrencies
              h4.font-weight-normal.animated Selection of a multi currency portfolio based on data about market capitalization that contains 5, 10 or 25 currencies with the biggest market capitalizations.
              p.crypto__section-comment.animated Taking into account the high volatility of the market, the portfolio undergoes re-balancing on monthly basis and in the event of market shock – every day.
          .crypto__section
            .crypto__section-icon-wrapper
              img.crypto__section-icon.animated(src="img/crypto-4.svg", alt="Icon")
            .crypto__section-content
              p.text-primary.text-uppercase.font-weight-bold.mb-0.animated Strategy 3
              h3.text-dark.mb-15.animated Custom Portfolio
              h4.font-weight-normal.animated The strategy is built based on client needs and preferences.  
  +tagline('Start earning with us.', 'tagline-4.svg', 'tagline--action')