extends ../templates/template.pug
block content
  .container
    .row
      .col-12
        +front(class="pb-70 pb-md-40")
        +tagline('We believe that the future lies in', 'tagline-1.svg')(class="tagline--short mt-lg-100 mb-40")
        .row.mb-md-80
          .col-lg-4
            +item('item-1.svg', 'Sharing Economy', 'Companies that enable resource sharing')
          .col-lg-4
            +item('item-2.svg', 'Marketplaces', 'Online services that help market participants find and transact with each other')
          .col-lg-4
            +item('item-3.svg', 'AI & Blockchains', 'Companies using artificial intelligence and blockchain technologies')
  +feedback
  +tagline('Let’s talk about your future.', 'tagline-2.svg', 'tagline--action')