extends ../templates/template.pug
block content
  +tagline('', 'tagline-3.svg')(class="tagline--title mt-35")
  .page.page--news
    .container
      .row
        .col-12
          h1.mb-35.mb-md-100.animated News
      .row
        .col-md-6
          +news('news-1.jpg', '26 April 2018', 'Growth in number of ICO will completely change the VC market', 'Alexander Tkachenko, Managing Partner, 2be.lu talks about the fund, venture capital markets in Europe and if Russian startups move to the West.')
        .col-md-6
          +news('news-2.jpg', '27 April 2018', 'Areas of investments: 5 promising technological trends', 'Alexander Tkachenko, Managing Partner, 2be.lu shares his views on blockchain, cryptocurrencies, artificial intelligence, sharing economy and marketplaces as the most promising areas for investment, why they attract so much interest, and how investors and startups can find their niche.')
    +tagline('What to offer a PR activity?', 'tagline-4.svg', 'tagline--action')(class="mt-35 mt-md-100")