extends ../templates/template.pug
block content
  +tagline('Portfolio', 'tagline-5.svg', 'tagline--portfolio')(class="tagline--portfolio mt-35")
  .container.mt-50.mt-md-100
    .row
      .col-lg-4
        +item('item-4.svg', 'Investing at the early stages', 'Pre-seed, seed and A-round investments give you a chance to invest in the promising companies right at the beginning and help them grow.')(class="item--portfolio")
      .col-lg-4
        +item('item-5.svg', 'Investing globally', 'We invest globally, selecting the best opportunities wherever they are.')(class="item--portfolio")
      .col-lg-4
        +item('item-6.svg', 'Strict selection criteria', 'The focus is on the team, industry knowledge, experience and the opportunity.')(class="item--portfolio")
    .row.mt-40
      .col-6.col-md-4.col-lg-3
        +client('client-1.png', 'Pobble', 'On-line educational platform')
      .col-6.col-md-4.col-lg-3
        +client('client-2.png', 'Tickets Cloud', 'The largest Russian b2b e-ticket platform')
      .col-6.col-md-4.col-lg-3
        +client('client-3.png', 'Take’n’Go', 'New generation crowdsource courier service')
      .col-6.col-md-4.col-lg-3
        +client('client-4.png', 'The Ticket Group', 'e-platform for tickets')
      .col-6.col-md-4.col-lg-3
        +client('client-5.png', 'Sprii', 'The largest Arabic on-line platform')
      .col-6.col-md-4.col-lg-3
        +client('client-6.png', 'Sales Gossip', 'The largest UK aggregator of fashion and beauty promotion')
      .col-6.col-md-4.col-lg-3
        +client('client-7.png', 'Arthur', 'E-platform for end to end property management')
      .col-6.col-md-4.col-lg-3
        +client('client-8.png', 'Chattermill', 'AI analyses of large volumes of customer comments')
      .col-6.col-md-4.col-lg-3
        +client('client-9.png', 'Poundit', 'An e-commerce site for electronics & accessories')
      .col-6.col-md-4.col-lg-3
        +client('client-10.png', 'Hapz', 'E-ticketing network')
  +tagline('Want to join?', 'tagline-4.svg', 'tagline--action')(class="mt-70")