.logo {
  display: block;
  width: 122px;
  height: 28px;
  background: url(../img/logo.svg) no-repeat;
  background-size: contain;

  @include media-breakpoint-down(sm) {
    width: 70px;
    height: 16px;
  }
}
