mixin front(modifier)
  .front&attributes(attributes)
    .row.no-gutters
      .col-md-6.col-xl-5.d-flex
        .front__left.animated
          img.img-fluid.front__left-picture(src="img/front-2.svg", alt="Logo")
          h2.front__title We help early stage startups make the future happen
            span.text-secondary .
      .col-md-6.col-xl-7.d-flex
        .front__right
          img.img-fluid.animated(src="img/front-be.png", alt="Logo")