.front {
  
  &__left {
    position: relative;

    @include media-breakpoint-down(sm) {
      padding-top: 36px;
      padding-bottom: 36px;
      background: url(../img/front--mobile.png) no-repeat center;
      background-size: contain;
    }
  }
  
  &__left-picture {

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
  
  &__title {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-bottom: 0;

    @include media-breakpoint-down(sm) {
      position: static;
      transform: none;
    }
  }
  
  &__right {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
}
