mixin tagline(title, bg, modifier)
  .tagline.animated&attributes(attributes)
    .tagline__wrapper
      img.tagline__bg(src="img/" + bg, alt="Tagline")
      if modifier == 'tagline--title' || 'tagline--portfolio'
        .tagline__title-wrapper
          .container
            .row
              .col-12.position-static
                if modifier == 'tagline--portfolio'
                  .d-flex.flex-column.flex-md-row.align-items-md-center.justify-content-between
                    h3.tagline__title= title
                    if modifier == 'tagline--portfolio'
                      h2.text-md-right.mb-0 We maintain close ties with investors and founders
                else
                  h3.tagline__title= title
      else
        h3.tagline__title= title
    if modifier == 'tagline--action'
      .d-flex.justify-content-center.mt-40.mt-md-70
        a.btn.btn-secondary.animated(href="#modal" data-fancybox) Contact us