.tagline {
  
  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  &__bg {
    max-width: 100%;
  }
  
  &__title-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  
  &__title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    margin-bottom: 0;
  }
  
  &--title {
    
    .tagline__title {
      display: none;
    }
  }
  
  &--portfolio {
    
    .tagline__title-wrapper {
      display: flex;
      align-items: center;

      @include media-breakpoint-down(sm) {
        position: static;
        align-items: flex-start;
        margin-top: -30px;
      }
    }
    
    .tagline__title {
      position: static;
      transform: none;
      width: auto;

      @include media-breakpoint-down(sm) {
        text-align: left;
      }
    }
    
    h2 {
      max-width: 740px;
    }
  }
}
