.contacts {
  margin-top: -150px;

  @include media-breakpoint-down(md) {
    margin-top: -100px;
  }

  @include media-breakpoint-down(sm) {
    margin-top: -50px;
  }
  
  &__item {
    
    a {
      text-decoration: none;
      @include transition;

      &:hover {
        color: $primary;
      }
    }
  }
  
  &__item-header {
    font-size: 10px;
    line-height: 14px;
    text-transform: uppercase;
    color: rgba(48, 48, 48, 0.8);
    margin-bottom: 0;
  }
}
