mixin map(modifier)
  .map&attributes(attributes)
    .map__content
      iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d20670.397080653725!2d6.145337892058383!3d49.6392308318603!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47954f11ba108317%3A0xd59cecc2149f2b87!2zNCBSdWUgSmVhbiBFbmdsaW5nLCAxNDY2IEx1eGVtYm91cmcsINCb0Y7QutGB0LXQvNCx0YPRgNCz!5e0!3m2!1sru!2sby!4v1529327463390', width='100%', height='100%', frameborder='0', style='border:0', allowfullscreen='')