.menu {
  
  &__btn {
    display: none;

    @include media-breakpoint-down(md) {
      display: block;
      width: 35px;
      height: 28px;
      background: url(../img/menu.svg) no-repeat;
      background-size: contain;
    }

    @include media-breakpoint-down(sm) {
      width: 20px;
      height: 16px;
    }
    
    &--active {
      background: url(../img/close.svg) no-repeat;
      background-size: contain;
    }
  }
  
  &__content {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(md) {
      display: none;
      padding: 35px 26px;
    }
    
    &--active {
      display: flex;
      top: 144px;
      left: 0;
      width: 100%;
//      position: fixed;
      position: absolute;
      flex-direction: column;
      align-items: flex-start;
      background: #f0f3f6;
      z-index: 1;

      @include media-breakpoint-down(sm) {
        top: 52px;
      }
      
      .menu__links-wrapper {
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }
  
  &__links-wrapper {
    display: flex;
    align-items: center;
  }
  
  &__link {
    color: #2c2c2e;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 1px;
    @include transition;
    
    &:hover, &--active {
      color: $primary;
    }
    
    &+& {
      margin-left: 36px;

      @include media-breakpoint-down(md) {
        margin-left: 0;
        margin-top: 15px;
      }
    }
  }
  
  &__language {
    margin-left: 72px;
    opacity: .5;
    color: #2c2c2e;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    @include transition;

    @include media-breakpoint-down(md) {
      margin-left: 0;
      margin-top: 15px;
    }
  }
}