mixin menu(modifier)
  .menu&attributes(attributes)
    a.menu__btn(href="#")
    .menu__content
      .menu__links-wrapper
        a.menu__link(href="#") About Us
        a.menu__link(href="#") Portfolio
        a.menu__link(href="#") Crypto Fund
        a.menu__link(href="#") News
        a.menu__link(href="#") Contacts
      a.menu__language(href="#") EN