.header {
  background: #fff;

  @include media-breakpoint-down(sm) {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 58px 0;

    @include media-breakpoint-down(sm) {
      padding: 18px 0;
    }
  }
}
